<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reserve a ticket</title>
    <style>
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
        }
    </style>
</head>
<body>
<h2 align="right"><a href="/user/account">My Account</a></h2>
<h2>Find a flight</h2>
<h2 th:text="${errorMessage}"></h2>
<form action="/flight/find" method="post">
    <label for="from">Enter the place of departure</label>
    <input name="from" id="from">

    <label for="to">Enter your destination</label>
    <input name="to" id="to">

    <label for="date">Enter date</label>
    <input type="date" name="date" id="date">

    <input type="submit" value="find">
</form>
    <hr>
    <table>
        <tr><th>From</th><th>To</th><th>Plane</th><th>Number Seats</th><th>Date</th><th>Time</th></tr>
        <div th:each="flight : ${flights}">
            <tr>
                <td th:text="${flight.getFrom()}"></td>
                <td th:text="${flight.getTo()}"></td>
                <td th:text="${flight.getPlane()}"></td>
                <td th:text="${flight.getNumberSeats()}"></td>
                <td th:text="${flight.getDate()}"></td>
                <td th:text="${flight.getTime()}"></td>
                <td><a th:href="@{/flight/get(flightId=${flight.getId()})}">Reserve</a></td>
            </tr>
        </div>
    </table>
</body>
</html>